
/*            TWEET POST       */


.new-tweet  {
    background-color: #eee;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display:none;
    margin-left: 2em;
    margin-right: 2em;
    padding: .5em;
}

textarea {
    padding: 5px;
    width: 100%;

}

textarea:hover , textarea:focus {
    border-color: blue;
    box-shadow: 0px 0px 15px 0px rgba(45,130,204,1);
}

.counter, button {
  float:right;
  padding-top: 5px;

}

.new-tweet h2 {
    border-bottom: 2px solid;
    margin-top: 10px;
}


/*            TWEET FEED POSTS       */



.inner-tweet  {
    background-color: #eee;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*            TWEET FEED POSTS  - TOP     */

header {
  align-self: baseline;
  display: flex;
  flex-flow: row wrap;
  height: 4em;
  justify-content: space-between;
}

.top-left {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.top-left h2{
  margin-top: 10px;
  margin-left: 8px;
}

.top-right{
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.top-right h4{
  color: #D3D3D3;
}

.top-left img {
  height: 50px;
  margin-top: 10px;
  width: 50px;
}


/*            TWEET FEED POSTS  - TEXT    */


article {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  height: 5em;
  justify-content: space-between;
}

article p {
  width: 100%;
  padding: 10px;
}


/*            TWEET FEED POSTS  - BOTTON    */


footer {
  border-top:  1px solid #e0e0e0;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-between;
  border-radius: 0px 0px  8px 8px;
}

.lower-left {
  font-size: .7em;
  margin: 0;
  padding-left: 10px;
}

.lower-right {
  align-self: center;
  justify-content: flex-end;
  padding-right: 10px;
}






